<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to Chat App</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="logo">
    <img src="/image/logo.png" alt="Chat App Logo">
</div>
<div class="welcome-container">
    <h1>Welcome to Chat App</h1>
    <div th:if="${user == null}">
        <form action="/user" method="post">
            <input type="text" name="username" placeholder="Enter your username" required>
            <button type="submit">Join</button>
        </form>
    </div>
    <div th:if="${user != null}">
        <h2>Welcome, <span th:text="${user.username}"></span>!</h2>
        <h3>Available Channels:</h3>
        <ul>
            <li th:each="channel : ${channels}">
                <a th:href="@{/channels/{id}(id=${channel.id})}" th:text="${channel.name}"></a>
            </li>
        </ul>
    </div>
</div>
<svg class="background--custom" id="demo" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path fill="#FFFF00" fill-opacity="0.6" d="M-100 -100L200 -100L200 60L-100 60Z" style="animation: path0 4.464285714285714s linear infinite alternate;" /><path fill="#00FFFF" fill-opacity="0.5" d="M-100 -100L200 -100L200 50L-100 50Z" style="animation: path1 12.5s linear infinite alternate;" /><path fill="#FF00FF" fill-opacity="0.2" d="M-100 -100L200 -100L200 30L-100 30Z" style="animation: path2 30s linear infinite alternate;" />
</svg>
<script th:src="@{/js/chat.js}"></script>
</body>
</html>
